<!DOCTYPE html>
<html ng-app="cameraApp">

<head>
    <meta charset="utf-8">
    <title>Camera Shop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src ="app.js"></script>
</head>

<body ng-controller="mainController" style="text-align: center;">
    <h1>Welcome to the Camera Shop!</h1>
    <div>
      <h4>Order selection by:</h4>
      <select ng-model="orderby" ng-options="option for option in options">
    </div>

    </select>

    <div ng-repeat="camera in cameraArray | orderBy: orderby">
       <h3>{{camera.title}}</h3>
       <img ng-src={{camera.image}} style="height:60px;width:80px">
        <p>Rating: {{camera.rating}}</p>
        <p ng-show="camera.onSale" style="color: orange">{{camera.price | currency}} ON SALE!</p>
        <p ng-hide="camera.onSale">{{camera.price | currency}}</p>
        <button ng-click="addCamera(camera)">Add To Cart</button>
      </div>

      <!-- Shopping Cart -->

    <div>
      <h3>Shopping Cart</h3>
      <ul>
        <li ng-repeat="camera in cameraItems track by $index">
          {{camera.title}}:   {{camera.price | currency}}
        </li>
      </ul>

      <h3>Total Cost: </h3>
      <span>{{totalCost | currency}}</span>
    </div>




</body>

</html>
